mixin credit()
  +b.SECTION(id="rassrochka").credit
    .container
      .row
        .col-12.col-lg-10.offset-lg-1
          .row
            .col-12
              H2.credit-title Ремонт квартиры за 0 руб.
              H3.credit-subtitle Ремонт квартиры без удара по кошельку возможен!
            .col-12.col-lg-6
              .credit-block
                IMG(src="img/pay-01.svg" alt="").credit-block-img
                P.credit-block-text Без первого взноса
                  SPAN Рассрочка с первым взносом от 0 руб. до 50% от стоимости сметы!
            .col-12.col-lg-6
              .credit-block
                IMG(src="img/pay-01.svg" alt="").credit-block-img
                P.credit-block-text Без первого взноса
                  SPAN Рассрочка с первым взносом от 0 руб. до 50% от стоимости сметы!
            .col-12.col-lg-6
              .credit-block
                IMG(src="img/pay-01.svg" alt="").credit-block-img
                P.credit-block-text Без первого взноса
                  SPAN Рассрочка с первым взносом от 0 руб. до 50% от стоимости сметы!
            .col-12.col-lg-6
              .credit-block
                IMG(src="img/pay-01.svg" alt="").credit-block-img
                P.credit-block-text Без первого взноса
                  SPAN Рассрочка с первым взносом от 0 руб. до 50% от стоимости сметы!
            .col-12
              H4.credit-help-title Остались вопросы? Давайте мы вас проконсультируем!
                FORM(id="credit_form" action="#").credit-form
                  INPUT(type="hidden" name="site_form_id" value="rassrochka_fs_perezvonite")
                  IMPUT(type="hidden" name="comment" value="")
                  IMPUT(type="hidden" name="sait" value="flagmanremonta.ru/index.php")
