mixin contacts()
  +b.SECTION(id="contacts")
    .container.d-md-flex.p-0
      .col-12.col-md-6.col-lg-5.contacts_block
        h2 Контакты
        ul.contact_list
          li.contact_item
            span.contact_item-t
              a(href='tel:74951279328') 7 (495) 127-93-28
            p.contact_item-b с 8:00 до 22:00 без выходных
          li.contact_item
            span.contact_item-t Есть вопросы?
            p.contact_item-b
              a(href='mailto:info@flagmanremonta.ru') info@flagmanremonta.ru
          li.contact_item
            span.contact_item-t Адрес
            p.contact_item-b г. Москва, Алтуфьевское шоссе, 29Б
        a.contact_link(href='#') Вернуться к началу страницы
      #map.col-12.col-md-6.col-lg-7.map_block
