/***********************MEDIA QUERIES***********************/

/***********************COLORS & FONTS***********************/

@font-face {
  font-family: 'RubikBold';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-Bold), url(../fonts/Rubik-Bold.woff2) format("woff2"), url(../fonts/Rubik-Bold.woff) format("woff"), url(../fonts/Rubik-Bold.ttf) format("ttf"), url(../fonts/Rubik-Bold.eot) format("eot");
}

@font-face {
  font-family: 'RubikBoldItalic';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-BoldItalic), url(../fonts/Rubik-BoldItalic.woff2) format("woff2"), url(../fonts/Rubik-BoldItalic.woff) format("woff"), url(../fonts/Rubik-BoldItalic.ttf) format("ttf"), url(../fonts/Rubik-BoldItalic.eot) format("eot");
}

@font-face {
  font-family: 'RubikLight';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-Light), url(../fonts/Rubik-Light.woff2) format("woff2"), url(../fonts/Rubik-Light.woff) format("woff"), url(../fonts/Rubik-Light.ttf) format("ttf"), url(../fonts/Rubik-Light.eot) format("eot");
}

@font-face {
  font-family: 'RubikMedium';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-Medium), url(../fonts/Rubik-Medium.woff2) format("woff2"), url(../fonts/Rubik-Medium.woff) format("woff"), url(../fonts/Rubik-Medium.ttf) format("ttf"), url(../fonts/Rubik-Medium.eot) format("eot");
}

@font-face {
  font-family: 'RubikRegular';
  font-weight: 400;
  font-style: normal;
  src: local(Rubik-Regular), url(../fonts/Rubik-Regular.woff2) format("woff2"), url(../fonts/Rubik-Regular.woff) format("woff"), url(../fonts/Rubik-Regular.ttf) format("ttf"), url(../fonts/Rubik-Regular.eot) format("eot");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  color: black;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td,
button {
  padding: 0;
  margin: 0;
  outline: none;
}

.container {
  max-width: 1366px;
}

fieldset,
img {
  border: 0;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul {
  list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-weight: 400;
  font-style: normal;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-size: 100%;
}

q:after {
  content: '';
}

q:before {
  content: '';
}

.clearfix:before,
.header:before {
  content: '';
  height: 0;
}

.clearfix:after,
.header:after {
  content: '';
  height: 0;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  font: 16px/1.2 RubikRegular;
  color: #171715;
  overflow-y: scroll;
  position: relative;
  padding-bottom: 0;
}

section {
  padding: 25px 0;
}

h1,
.h1 {
  font: 22px/1 RubikBold;
  margin: 0 0 20px;
}

h1 span,
.h1 span {
  display: block;
  font: 18px/1.2 RubikMedium;
}

h2,
.h2 {
  font: 24px/1 RubikBold;
  margin: 25px 0;
}

h3,
.h3 {
  font: 24px/1 RubikBold;
  margin: 15px 0;
}

h4,
.h4 {
  font: 14px/16px RubikBold;
  margin: 0;
  text-transform: uppercase;
}

a {
  color: #00C0B0;
  text-decoration: underline;
  transition: .3s ease;
}

a:visited {
  color: #00C0B0;
  text-decoration: underline;
}

a:hover,
a:focus {
  color: #00C0B0;
  text-decoration: none;
  outline: none;
}

button {
  border: 0;
  outline: none;
}

button:hover,
button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

b {
  font-weight: 400;
  font-family: RubikBold;
}

p {
  margin: 15px 0 0;
}

ul.list {
  margin: 0;
}

ul.list li {
  position: relative;
  padding: 0 0 0 14px;
  margin: 9px 0 0;
}

ul.list li:before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 0;
  background: #00C0B0;
  top: 5px;
  left: 0;
}

input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"] {
  display: block;
  width: 100%;
  height: 52px;
  outline: none;
  border: 1px solid #00C0B0;
  padding: 0 22px;
  font: 15px RubikRegular;
  color: #000;
}

input[type="text"].calc_number,
input[type="password"].calc_number,
input[type="number"].calc_number,
input[type="tel"].calc_number {
  display: inline-block;
  border: 2px solid #00C0B0;
  width: 100px;
  font: 20px RubikRegular;
  text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input.error {
  border-color: red !important;
}

label.error {
  font-size: 12px;
  color: red;
}

form input[type="text"],
form input[type="tel"],
form input[type="password"] {
  margin-top: 9px;
}

form input[type="submit"] {
  margin-top: 8px;
}

label {
  display: block;
}

.btn {
  display: block;
  padding: 20px 22px;
  margin: 5px auto 0;
  width: 100%;
  font: 14px/1 RubikBold;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-image: linear-gradient(#FFA50E, #F47D0A);
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  transition: all .5s ease;
  position: relative;
  z-index: 1;
}

.btn:before {
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  z-index: -1;
  transition: opacity .45s;
  background-image: linear-gradient(#F47D0A, #FFA50E);
}

.btn:visited {
  color: #000;
  text-decoration: none;
}

.btn:hover,
.btn:focus {
  color: #fff;
  text-decoration: none;
  box-shadow: none;
}

.btn:hover:before,
.btn:focus:before {
  opacity: 1;
}

.btn2 {
  display: block;
  padding: 0;
  margin: 5px auto 0;
  width: 100%;
  font: 14px/1 RubikBold;
  cursor: pointer;
  color: #000;
  background-image: linear-gradient(to bottom, #FFA50E 0%, #F47D0A 100%);
  padding: 2px;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
}

.btn2 span {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 14px 22px;
  box-shadow: inset 0 0 15px 0 rgba(244, 125, 10, 0.5);
  transition: all .5s ease;
}

.btn2:visited {
  color: #000;
  text-decoration: none;
}

.btn2:hover,
.btn2:focus {
  color: #fff;
  text-decoration: none;
}

.btn2:hover span,
.btn2:focus span {
  box-shadow: inset 0 0 15px 0 rgba(244, 125, 10, 0);
  background: rgba(255, 255, 255, 0);
}

.show_more {
  font: 16px/1.2 RubikBold;
  color: #00C0B0;
  text-decoration: underline;
  text-transform: uppercase;
  max-width: 168px;
  text-align: center;
  margin: 0 auto;
}

.show_more:visited {
  text-decoration: none;
}

.show_more:hover,
.show_more:focus {
  text-decoration: none;
}

.download {
  display: block;
  padding: 0;
  margin: 5px auto 0;
  width: 100%;
  max-width: 300px;
  font: 14px/1 RubikBold;
  cursor: pointer;
  color: #171715;
  background: #fff;
  padding: 24px 22px 23px 97px;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #FFA50E;
  position: relative;
}

.download:visited {
  color: #171715;
  text-decoration: none;
}

.download:hover,
.download:focus {
  color: #171715;
  text-decoration: none;
}

.header {
  position: fixed;
  z-index: 50;
  left: 0;
  right: 0;
  top: -1px;
  padding: 15px 0;
  z-index: 50;
  box-shadow: 0 0 5px transparent;
  transition: all .5s ease;
  background: #fff;
}

.header__logo {
  margin: 7px 0 0;
}

.header__logo-img {
  max-width: 194px;
  height: 35px;
  display: block;
  background: url(../img/logo.png) 0 0 no-repeat;
  background-size: contain;
  margin: 5px 0 0;
}

.header__logo-text {
  font: 12px/1 RubikRegular;
  margin: 9px 0 0 3px;
}

.header__menu {
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
  margin: -60px 0 0;
}

.header__menu #dropdown_menu {
  margin: 50px 0 0;
}

.navbar {
  padding: 0;
  margin: 13px 0 0;
}

.navbar-toggler {
  margin: -10px 0 0 auto;
  padding: 10px;
}

.navbar-toggler .icon-bar {
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: rotate(0deg) translate(0px, 0px);
  -ms-transform: rotate(0deg) translate(0px, 0px);
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 5px;
}

.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  -ms-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -5px);
  -ms-transform: rotate(-45deg) translate(5px, -5px);
  transform: rotate(-45deg) translate(5px, -5px);
  transition: ease all .2s;
}

.navbar-collapse {
  justify-content: space-between;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
}

.navbar-nav select {
  margin-bottom: 9px;
}

.nav-link,
.nav-link:visited {
  font: 16px/1 RubikMedium;
  text-decoration: none;
  color: #171715 !important;
  white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.actt,
.nav-link:visited:hover,
.nav-link:visited:focus,
.nav-link:visited.actt {
  text-decoration: underline;
  color: #FFA50E !important;
}

.header__menu-top {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}

.header__menu-top li {
  margin: 0;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font: 14px/1 RubikRegular;
}

.header__menu-top a,
.header__menu-top a:visited {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 32px;
  border-radius: 15px;
  background: #F8F8F8;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 12px;
  font: 12px/1 RubikRegular;
}

.header__menu-top a:hover,
.header__menu-top a:focus,
.header__menu-top a.active {
  color: #fff;
  background: #00bfaf;
}

.header__contact {
  margin: 25px auto 0;
  font: 12px/1.2 RubikRegular;
  position: relative;
  z-index: 6;
}

.header__contact .header__btn2 {
  margin: 0 auto;
}

.header__time {
  font: 14px/1.2 RubikRegular;
  color: #171715;
  margin: 1px 0 7px;
}

.header__time span {
  font: 14px/1.2 RubikBold;
}

.header__phone a,
.header__phone a:visited {
  position: relative;
  font: 20px/1 RubikBold;
  color: #000;
  text-decoration: none;
}

.header__phone a:hover,
.header__phone a:focus,
.header__phone a:visited:hover,
.header__phone a:visited:focus {
  text-decoration: underline;
}

.footer {
  height: 104px;
  background-color: rgba(227, 228, 238, 0.37);
}

.footer__wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.footer__reserved {
  margin-right: auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
}

.footer__cookie-pol {
  margin-right: 60px;
  opacity: 0.5;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  text-align: right;
}

.footer__privacy-pol {
  opacity: 0.5;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 15px;
  text-align: right;
}

@media (min-width: 767px) {
  .header__logo-img {
    height: 58px;
    margin: 4px 0 0;
  }

  .header__logo-text {
    margin: 9px 0 0 6px;
  }

  .navbar-expand-lg .navbar-nav {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header__menu-top {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }

  .header__menu-top li {
    margin: 0 5px;
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  .header__menu {
    margin: 20px 0 0;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    z-index: 5;
  }

  .header__menu #dropdown_menu {
    margin: 0;
  }

  .navbar-expand-lg .navbar-nav {
    -webkit-justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin: 0;
  }

  .header__menu-top {
    margin: -10px 0 0;
  }

  .header__contact {
    max-width: 215px;
    margin: -4px 0 0;
    float: right;
  }

  .header__contact .header__btn2 {
    margin: 12px 0 0;
  }
}

@media (max-width: 768px) {
  .footer__wrap {
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__reserved {
    margin: 1px auto;
    font-size: 14px;
  }

  .footer__cookie-pol {
    margin: 1px auto;
    font-size: 14px;
  }

  .footer__privacy-pol {
    margin: 1px auto;
    font-size: 14px;
  }
}