include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include calculator/calculator
include service/service
include why_trust/why_trust
include portfolio/portfolio
include footer/footer



doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Ремонт квартир под ключ в Москве и Московской области — Флагман ремонта",
				"author": "Oleh Devolp",
				"description": "Профессиональный ремонт квартир под ключ в Москве и области. Фиксированные сроки и стоимость, гарантия — 3 года!"
			})
			
		+b.BODY.page
			block header
				+header()

			block calculator
				+calculator()

			block service
				+service()

			block why_trust
				+why_trust()

			block portfolio
				+portfolio()
			
			block content
				
			//- block footer
			//- 	+footer()

			block vendors
				// build:js js/vendor.js
				script(src="libs/bootstrap/dist/js/bootstrap.min.js")
				script(src="old/common.js")
				script(src="old/common_new.js")
				script(src="libs/bootstrap/dist/js/bootstrap.min.js.map")
				// endbuild

			block scripts
				// build:js js/main.js
				script( src="js/main.js")
				// endbuild
