include _assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })

include head/head
include header/header
include calculator/calculator
include service/service
include why_trust/why_trust
include portfolio/portfolio
include fon/fon
include action/action
include credit/credit
include master/master
include faq/faq
include contacts/contacts
include footer/footer



doctype html
html(lang="ru")

	block head
		head
			+head({
				"title": "Ремонт квартир под ключ в Москве и Московской области — Флагман ремонта",
				"author": "Oleh Devolp",
				"description": "Профессиональный ремонт квартир под ключ в Москве и области. Фиксированные сроки и стоимость, гарантия — 3 года!"
			})
			
		+b.BODY.page
			block header
				+header()

			block calculator
				+calculator()

			block service
				+service()

			block why_trust
				+why_trust()

			block portfolio
				+portfolio()

			block fon
				+fon()

			block action
				+action()
				
			block master
				+master()

			block credit
				+credit()

			block faq
				+faq()

			block contacts
				+contacts()
			
			block content
				
			block footer
				+footer()

			block vendors
				// build:js js/vendor.js
				script(src="libs/jquery/dist/jquery.js")
				script(src="libs/bootstrap/dist/js/bootstrap.min.js")
				script(src="libs/rangeslider.js/dist/rangeslider.js")
				script(src="libs/slick-carousel/slick/slick.min.js")
				script(src="libs/lazyload.js")
				script(src="libs/jquery.maskedinput/dist/jquery.maskedinput.js")
				script(src="libs/jquery-validation/dist/jquery.validate.js")
				script(src="old/common.js")
				script(src="old/common_new.js")
				// endbuild

			block scripts
