mixin service()
  +b.SECTION.service(id="service")
    .container-fluid.p-0
      .title
        h2 Услуги
        p Мы делаем любой вид ремонта
      #service_block1.service_block
        .row
          .d-none.d-md-block.col-md-12.col-lg-7.img_block1
            .slider_garant
              div
                | До 3 лет
                br
                |  гарантии
            .img_block
              img.img-fluid(data-src='upload/service_1.jpg', alt='')
          .col-12.col-lg-5
            .service_text
              h3 Косметический ремонт
              #service_block_1
                .service_item
                  header#heading1
                    button(data-toggle='collapse', data-target='#service1', aria-expanded='true', aria-controls='collapseOne') Работы
                  #service1.collapse.show(aria-labelledby='heading1', data-parent='#service_block_1')
                    .serv_text
                      ul.list
                        li Демонтажные работы
                        li Шпатлевка стен
                        li Грунтование пола и стен
                        li Устройство наливных полов
                        li Настил линолеума, ковролина
                        li Оклейка стен обоями
                        li Установка наличников и плинтусов
                        li Частичная замена электрики
                        li Устройство откосов из ПВХ, сендвич-панелей
                      .cost
                        p
                          | Стоимость работ: 
                          span.price
                            | от 1 990 руб./м
                            sup 2
                .service_item
                  header#heading2
                    button.collapsed.black_mat(data-toggle='collapse', data-target='#service2', aria-expanded='true', aria-controls='collapseOne') Черновые материалы
                  #service2.collapse(aria-labelledby='heading2', data-parent='#service_block_1')
                    .serv_text
                      p.serv_text_1
                        | * заказывая ремонт в нашей компании, Вы можете приобрести материалы самостоятельно или приобрести у нас
                      ul.list
                        li Штукатурки
                        li Шпатлевки
                        li Провода
                        li Профили
                        li Жидкие гвозди
                        li Герметик
                        li Саморезы
                        li Биты, валики и т. п.
                      .cost.d-none
                        p
                          | Стоимость черновых материалов 
                          span.price
                            | от 615 руб./м
                            sup 2
              button.btn(type='button', data-toggle='modal', data-target='#call_service1') Узнать стоимость
      #service_block2.service_block
        .row
          .col-12.col-lg-5.order_2
            .service_text
              h3 Капитальный ремонт
              #service_block_2
                .service_item
                  header#heading3
                    button(data-toggle='collapse', data-target='#service3', aria-expanded='true', aria-controls='collapseOne') Работы
                  #service3.collapse.show(aria-labelledby='heading3', data-parent='#service_block_2')
                    .serv_text
                      ul.list
                        li Демонтажные работы
                        li Устройство стяжки 
                        li Грунтование пола и стен
                        li Устройство наливных полов
                        li Кирпичная кладка
                        li Шпатлевка и штукатурка стен
                        li Настил линолеума, ковролина
                        li Оклейка стен обоями
                        li Монтаж натяжного потолка
                        li Укладка плитки на пол и на стены в ванной
                        li Установка реечного потолка в ванной
                        li Монтаж натяжного потолка во всех помещениях
                        li Электромонтажные работы и сантехнические работы
                        li Установка откосов, подоконников и карнизов
                      .cost
                        p
                          | Стоимость работ: 
                          span.price
                            | от 4 990 руб./м
                            sup 2
                .service_item
                  header#heading4
                    button.collapsed.black_mat(data-toggle='collapse', data-target='#service4', aria-expanded='true', aria-controls='collapseOne') Черновые материалы
                  #service4.collapse(aria-labelledby='heading4', data-parent='#service_block_2')
                    .serv_text
                      p.serv_text_1
                        | * заказывая ремонт в нашей компании, Вы можете приобрести материалы самостоятельно или приобрести у нас
                      ul.list
                        li Штукатурки и шпатлевки
                        li Трубы и провода
                        li Гипсокартон
                        li Профили
                        li Плиточные и обойные клеи
                        li Жидкие гвозди, герметик и саморезы
                        li Биты, валики и т. п.
                      .cost.d-none
                        p
                          | Стоимость черновых материалов 
                          span.price
                            | от 1 530 руб./м
                            sup 2
              button.btn(type='button', data-toggle='modal', data-target='#call_service2') Узнать стоимость
          .d-none.d-md-block.col-md-12.col-lg-7.img_block2
            .slider_garant
              div
                | До 3 лет
                br
                |  гарантии
            .img_block
              img.img-fluid(data-src='upload/service_2.jpg', alt='')
      #service_block3.service_block
        .row
          .d-none.d-md-block.col-md-12.col-lg-7.img_block3
            .slider_garant
              div
                | До 3 лет
                br
                |  гарантии
            .img_block
              img.img-fluid(data-src='upload/service_3.jpg', alt='')
          .col-12.col-lg-5
            .service_text
              h3 Ремонт “Под ключ”
              #service_block_3
                .service_item
                  header#heading5
                    button(data-toggle='collapse', data-target='#service5', aria-expanded='true', aria-controls='collapseOne') Работы
                  #service5.collapse.show(aria-labelledby='heading5', data-parent='#service_block_3')
                    .serv_text
                      ul.list
                        li Демонтажные работы
                        li Устройство стяжки и гидроизоляция пола
                        li Шпатлевка и штукатурка стен 
                        li Грунтование пола и стен
                        li Устройство наливных полов
                        li Кирпичная кладка
                        li Укладка подложки, ламината, настил линолеума, ковролина
                        li Оклейка стен обоями
                        li Монтаж натяжного потолка
                        li Укладка плитки на пол и на стены в ванной
                        li Установка реечного потолка в ванной
                        li Монтаж натяжного потолка во всех помещениях
                        li Электромонтажные работы и сантехнические работы
                        li Установка откосов, подоконников, отливов и карнизов
                        li Установка дверей
                      .cost
                        p
                          | Стоимость работ: 
                          span.price
                            | от 7 990 руб./м
                            sup 2
                .service_item
                  header#heading6
                    button.collapsed.black_mat(data-toggle='collapse', data-target='#service6', aria-expanded='true', aria-controls='collapseOne') Черновые материалы
                  #service6.collapse(aria-labelledby='heading6', data-parent='#service_block_3')
                    .serv_text
                      p.serv_text_1
                        | * заказывая ремонт в нашей компании, Вы можете приобрести материалы самостоятельно или приобрести у нас
                      ul.list
                        li Штукатурки и шпатлевки
                        li Трубы и провода
                        li Гипсокартон
                        li Профили
                        li Плиточные и обойные клеи
                        li Жидкие гвозди, герметик и саморезы
                        li Биты, валики и т. п.
                      .cost.d-none
                        p
                          | Стоимость черновых материалов 
                          span.price
                            | от 1 680 руб./м
                            sup 2
              button.btn(type='button', data-toggle='modal', data-target='#call_service3') Узнать стоимость
