mixin master()
  section#master
    .container
      .title
        h2 Наша команда
      .team_block
        .team_nav
          div
            img(src='upload/team/smirnov_s.jpg', alt='')
          div
            img(src='upload/team/zaitseva_s.jpg', alt='')
          div
            img(src='upload/team/mitrofanov_s.jpg', alt='')
          div
            img(src='upload/team/zavyalov_s.jpg', alt='')
          div
            img(src='upload/team/andreychenko_s.jpg', alt='')
          div
            img(src='upload/team/medvedev_s.jpg', alt='')
        .team_main
          div
            .row
              .col-12.col-md-6
                header
                  | Владимир Смирнов
                  p Каменщик | 9 лет, 478 завершенных объектов
                .text
                  | Умеет выкладывать перегородки из кирпича, пеноблока, пазогребня и других материалов. Занимается кладкой печей и каминов, выкладкой арок и колонн. Кроме того, Владимира приглашаем для установки межкомнатных дверей и подоконников из камня.
              .d-none.d-md-block.col-md-6
                img(src='upload/team/smirnov.jpg', alt='')
          div
            .row
              .col-12.col-md-6
                header
                  | Яна Зайцева
                  p Маляр | Опыт 10 лет, 256 успешных объектов
                .text
                  | Яна работает маляром с 18 лет. Ей доверяем работу со сложными и капризными материалами: венецианской штукатуркой, краской с наполнителями, фотообоями. 97% заказчиков, у которых она работала, отмечают аккуратность и высокое качество результата.
              .d-none.d-md-block.col-md-6
                img(src='upload/team/zaitseva.jpg', alt='')
          div
            .row
              .col-12.col-md-6
                header
                  | Игорь Митрофанов
                  p Электрик | Опыт 5 лет
                .text
                  | Четвертая группа по электробезопасности позволяет Игорю работать практически с любым электрооборудованием. Ему доверяем работу с дизайн-проектами: он быстро и качественно устанавливает любые светильники и подсветку, разводит проводку, устанавливает необходимое оборудование и устраняет неисправности в домашних электросетях.
              .d-none.d-md-block.col-md-6
                img(src='upload/team/mitrofanov.jpg', alt='')
          div
            .row
              .col-12.col-md-6
                header
                  | Александр Завьялов
                  p Сантехник | 17 лет, 504 завершенных объекта
                .text
                  | Ежегодно проходит обучение, в том числе у партнеров - например, Рехау. Мастер коллекторной разводки труб, установки ванн, раковин, смесителей. Умеет работать с современной подвесной сантехникой. Устанавливает системы от протечек.
              .d-none.d-md-block.col-md-6
                img(src='upload/team/zavyalov.jpg', alt='')
          div
            .row
              .col-12.col-md-6
                header
                  | Богдан Андрейченко
                  p Монтажник окон | 4 года, 297 завершенных объектов
                .text
                  | Мастер установки пластиковых и деревянных окон. Ежегодно обучается, поэтому знает, как работать с современными материалами и инструментами. Умеет монтировать сложные оконные конструкции. Устанавливает минимум 3 окна в неделю.
              .d-none.d-md-block.col-md-6
                img(src='upload/team/andreychenko.jpg', alt='')
          div
            .row
              .col-12.col-md-6
                header
                  | Илья Медведев
                  p Прораб | Опыт 12 лет, 159 завершенных объектов
                .text
                  | Начинал с должности мастера-отделочника, затем стал универсалом, и уже после - прорабом. Поэтому Илья знает процесс ремонта квартиры от "А" до "Я". Он проходит повышение квалификации дважды в год, поэтому в курсе новых технологий и трендов в отделке помещений.
              .d-none.d-md-block.col-md-6
                img(src='upload/team/medvedev.jpg', alt='')