mixin footer()
  +b.SECTION.footer
    .container
      +e.wrap
        +e.reserved © 2014-2019 All Rights Reserved.
        +e.A(href="#").cookie-pol Cookie Policy
        +e.A(href="#").privacy-pol Privacy Policy