mixin why_trust(vars)
  +b.SECTION.why_trust
    .container-fluid
      .title
        H2.
    .trust_bLock
      .trust_item
        .img_block
          IMG(src="upload/why_trust/1.jpg" alt="")
        .text
          DIV
            HEADER Соблюдаем СНИПы и ГОСТы
            DIV
              P Строго следим за соблюдением строительных норм и правил.
              P.d-none.d-sm-block Когда независимая экспертиза будет принимать ваш ремонт — вы убедитесь в этом сами.
      .trust_item
        .img_block
          IMG(src="upload/why_trust/2.jpg" alt="")
        .text
          DIV
            HEADER Работаем только с профи
            DIV
              P Новые сотрудники обязательно проходят экзамен на нашем учебном полигоне.
              P.d-none.d-sm-block Там же периодически обучаем действующих специалистов.
      .trust_item
        .img_block
          IMG(src="upload/why_trust/3.jpg" alt="")
        .text
          DIV
            HEADER Не меняем сроки и стоимость
            DIV
              P В отличие от многих, наши сметчики сразу называют реальную стоимость ремонта. Отклонения минимальны.
              P.d-none.d-sm-block Конечную стоимость и сроки фиксируем в договоре.
      .trust_item
        .img_block
          IMG(src="upload/why_trust/4.jpg" alt="")
        .text
          DIV
            HEADER Даем гарантию до 3 лет
            DIV
              P Гарантируем сохранность проведенного нами ремонта в течение 3 лет.
              P.d-none.d-sm-block Сервисное обслуживание в этот период — бесплатно!
      .trust_item
        .img_block
          IMG(src="upload/why_trust/5.jpg" alt="")
        .text
          DIV
            HEADER Присылаем отчет о ремонте
            DIV
              P Каждые 3 дня вы получаете фотографии с объекта.
              P Каждый объект ведет прораб и персональный менеджер.
              P.d-none.d-sm-block Каждый ремонт принимает независимая экспертиза.
      .trust_item
        .img_block
          IMG(src="upload/why_trust/6.jpg" alt="")
        .text
          DIV
            HEADER Работаем чисто и без конфликтов
            DIV
              P Согласовываем график шумных работ, соблюдаем “тихий час” — не конфликтуем с соседями.
              P.d-none.d-sm-block Соберем и вывезем мусор по окончании ремонта.