mixin calculator()
  +b.SECTION.calc(id="calculator")
    .container
      .row.row-no-calc
        .col-12.col-lg-6.col-xl-7
          .bg_white
            h1
              | Ремонт квартир
              br
              | в Москве и области
              span Предоплата — 0 руб.
            ul.banner_list
              li Оплата ремонта — поэтапно по факту
              li Цена и сроки фиксируются 1 раз и не меняются
              li Гарантия на ремонт — до 3 лет
          .calc_action.position-relative.d-none
            .calc_action-content
              h3
                span Скидка 23%
                |  на все сметы!
              p
                | В честь Дня защитника Отечества дарим до 23% скидки на все сметы, составленные до 25 февраля.
              form#calc_action_form.col-12.p-0.calc_action-form(action='#')
                input(type='hidden', name='site_form_id', value='akciya-23fevralya_fs_skidka-23pr')
                input(type='hidden', name='comment', value='Заявка со скидкой 23%')
                input(type='hidden', name='sait', value='flagmanremonta.ru/index.php')
                input(type='hidden', name='1_referer', value='')
                input(type='hidden', name='ip_lida', value='37.115.92.82')
                input(type='hidden', name='utm_source', value='')
                input(type='hidden', name='utm_medium', value='')
                input(type='hidden', name='utm_campaign', value='')
                input(type='hidden', name='utm_term', value='')
                input(type='hidden', name='utm_content', value='')
                input(type='hidden', name='utm_keyword', value='')
                input(type='hidden', name='str_perehoda', value='flagmanremonta.ru/')
                input(type='hidden', name='metka', value='')
                input(type='hidden', name='ya_google', value='')
                input(type='hidden', name='marketdata', value='')
                input(type='hidden', name='utm', value='')
                input(type='hidden', name='istochnik', value='Реферал')
                input.calc_action-form-input(type='tel', name='telefon_lida', placeholder='Ваш номер телефона', required='')
                input.calc_action-form-btn(type='submit', name='calc_action_submit', value='ПОЛУЧИТЬ СКИДКУ')
        .col-12.col-lg-6.col-xl-5
          .calc_block
            .row.row-padding-calc
              .col-12.position-relative
                .calc_action-img.d-none
                .calc_title
                  | Сколько стоит ваш ремонт?
                  p Узнайте за 4 шага!
              .col-12.col-md-6
                header
                  span 1
                  | Какой ремонт?
                #calc_step1.form-group.calc_cont
                  .custom-control.custom-radio
                    input#calc_cosm0.custom-control-input(type='radio', name='customRadio1', checked='')
                    label.custom-control-label(for='calc_cosm0') Косметический
                  .custom-control.custom-radio
                    input#calc_cosm1.custom-control-input(type='radio', name='customRadio1')
                    label.custom-control-label(for='calc_cosm1') Капитальный
                  .custom-control.custom-radio
                    input#calc_cosm2.custom-control-input(type='radio', name='customRadio1')
                    label.custom-control-label(for='calc_cosm2') Под ключ
              .col-12.col-md-6
                header
                  span 2
                  | Тип жилья
                #calc_step2.form-group.calc_cont
                  .custom-control.custom-radio
                    input#build_new.custom-control-input(type='radio', name='customRadio2', checked='')
                    label.custom-control-label(for='build_new') Новостройка
                  .custom-control.custom-radio
                    input#build_old.custom-control-input(type='radio', name='customRadio2')
                    label.custom-control-label(for='build_old') Вторичка
              .col-12.col-md-6
                header
                  span 3
                  | Общая площадь, м2
                #calc_step3.form-group
                  .text-center
                    input#input_area.number.calc_number(type='number', min='10', max='250', value='30')
                  input#input_range.calc_range(type='range', min='10', max='250', step='1', value='30')
              .col-12.col-md-6
                header
                  span 4
                  | Количество комнат
                #btn_secondary.btn-group.btn-group-toggle.calc_cont(data-toggle='buttons')
                  label.btn.btn-secondary.active
                    input#option0(type='radio', name='options', autocomplete='off', checked='')
                    |  1
                  label.btn.btn-secondary
                    input#option1(type='radio', name='options', autocomplete='off')
                    |  2
                  label.btn.btn-secondary
                    input#option2(type='radio', name='options', autocomplete='off')
                    |  3+
                  label.btn.btn-secondary
                    input#option3(type='radio', name='options', autocomplete='off')
                    |  студия
              .col-12
                p.calc_action-check.d-none С учетом скидки 23%!
                button.btn.btn_popup(type='button', data-toggle='modal', data-target='#call_calc') Узнать стоимость


